<div class="row justify-content-center banner">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
    <%= image_tag 'portfolio-pic.jpg', alt: "profile photo", class: 'avatar' %>
    <h1 class="title-main">Hi, I'm X'Zaiver Wolfinbarger</h1>
  </div>
</div>
